{% extends "base.html" %}
{% load static %}
{% block contents %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card p-3">
        <a href="{% url 'account' %}"><i class="fa mb-3 fa-arrow-left text-white bg-info p-3 rounded-circle"></i></a>
        <form action="" method="post">
          {% csrf_token %}
          {% for fields in form %}
            {{fields.label}}
            {{fields}}
          {% endfor %}
          <input type="submit" class="btn btn-info my-2 btn-block" value="Add Skill">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock contents %}

