{% load static %}
<!-- top bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone"> (+234)90-2625-3605</i>
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"> contact@devjob.com</i>
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a target="_blank" href=""><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="https://web.facebook.com/nathaniel.nartarniel"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href=""><i class="fab fa-linkedin"></i></a>
          <a target="_blank" href="https://www.instagram.com/nathanielnosa/"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="https://wa.me/+2348177507780"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
      <a href="{% url 'profiles' %}" class="navbar-brand">
        <img class="rounded-circle" src="{% static 'img/logo.png' %}" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navscroll">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navscroll">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'profiles' %}">Developers</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
          
          
          {% if request.user.is_authenticated %}
          
          <li class="nav-item"><a class="nav-link" href="{% url 'inbox' %}">Inbox </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account' %}">My Account</a></li>
            <li class="nav-item"><a class="nav-link btn btn-danger" href="{% url 'logout' %}">Logout </a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link btn btn-info" href="{% url 'login' %}">Login/Sign Up</a></li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
  <!-- End of nav -->
 