<!-- pagination -->

{% if queryset.has_other_pages %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto my-2">
      <div class="pagination">
        {% if queryset.has_previous %}
          <li class="page-item"><a class="page-link bg-info text-white"
            href="?page={{queryset.previous_page_number}}" data-page="{{queryset.previous_page_number}}">&#10094;
            Prev</a></li>
        {% endif %}

        {% for page in custom_range %}
        {% if page == queryset.number %}
        <li class="page-item  active"><a class="page-link bg-info text-white" href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link bg-info text-white" href="?page={{page}}" data-page="{{page}}" >{{page}}</a></li>
        {% endif %}
        {% endfor %}

        {% if queryset.has_next %}
        <li class="page-item"><a class="page-link bg-info text-white" href="?page={{queryset.next_page_number}}" data-page="{{queryset.next_page_number}}">Next
            &#10095;</a></li>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- end pagination -->

